PORT=3000
TARGET_URL=https://shop-titancore.com
PUBLIC_HOST=www.lotusscom.my
ADMIN_API_BASE=http://127.0.0.1:9528
# Advertorial /tpmn/lan overrides (optional)
# LAN_PRODUCT_PATH=/products/hybrid-pots-pans-set-12-pc
# LAN_HERO_IMAGE=https://shop-titancore.com/cdn/shop/files/333.png?v=1781005964&width=1200
# CHECKOUT_PASSTHROUGH=1
