.ticket .sdWrap___e467b0 {
display:none !important;
}

  .ticket .tripSummary___9d2bcf {
display:none !important;
}

  .ticket .passengerDetailsSection___b0665a {
display:none !important;
}

  .ticket .greenOfferStrip___74a21f {
display:none !important;
  }

  .ticket [id="80"] {
display:none !important;
  }